<app-navbar />
<app-header title="this is header test sendto header component" />
<app-item-component [id]="title[0].id" [name]="title[0].name" [salary]="title[0].salary" />
<app-item-component [id]="title[1].id" [name]="title[1].name" [salary]="title[1].salary" />
<!-- <app-item-component /> -->
<h1 class="text-red-500">this is my first angular</h1>
<h1>name {{ name }}</h1>
<h1>age {{ age }}</h1>
<h1>birth year {{ birth_year }}</h1>
<h1>cal birthyear {{ cal_year() }}</h1>

<h1>cat image</h1>
<img [src]="cat_img" [width]="width" [height]="height" />
<button class="bg-blue-300" (click)="Hello()">click me</button>

<!-- two way binding -->
<h1 class="text-red-300">hello two way who are you default is {{ username }}</h1>
<br />
<input type="text" [(ngModel)]="username" />

<!-- if else -->
@if (islogin == false) {
  <h1 class="text-red-300">please enter username</h1>
  <input type="text" [(ngModel)]="username" />
  @if (username == 'Jeng') {
    <h1>LOGIN SUCCESS</h1>
  }
} @else {
  <h1>welcome {{ username }}</h1>
}

<!-- for loop -->
@for (friend of friend_name; track friend.id) {
  <h1>{{ friend.name }}</h1>
} @empty {
  <h1>no data</h1>
}

<!-- ng class -->
<h1 [ngClass]="islogin ? 'text-red-300' : 'text-blue-500'">ng class is login or not</h1>

<!-- pipe -->
<h1>this is {{ uppercase_test | uppercase }} to uppercase</h1>
<h1>this is {{ uppercase_test | lowercase }} to lowercase</h1>
<h1>this is currency {{ salary | currency: '฿' }}</h1>
<h1>this is date {{ date_pipe | date: 'shortDate' }}</h1>
<h1>this is date {{ date_pipe | date }}</h1>
<h1>this is date {{ date_pipe | date: 'fullDate' }}</h1>

<!-- writeable signal -->
<h1>fname : {{ fname() }}</h1>
<h1>lname : {{ lname() }}</h1>
<h1>exp : {{ exp() }}</h1>

@for (item of skill(); track $index) {
  <h1>{{ item }}</h1>
} @empty {
  <h1>no data</h1>
}
<button class="bg-gray-300" (click)="changename()">change name</button>
<br />
<button class="bg-gray-300" (click)="addexp()">add exp</button>

<!-- compute signal -->
<h1>full name {{ fullname() }}</h1>
